/**
 * Import all the rules from the parent.
 */
 @import "../../bootstrapbase/less/moodle.less";

// Set body text and sideway header colours
@bodyColor:                         #036;
@sidewayHeaderColor:                #369; // Alternative #6F6B8E

@navbarLinkColor:                   @white;

@sidewayHeaderColorHover:           lighten(@sidewayHeaderColor, 25%);
@navbarDividerDarker:               darken(@sidewayHeaderColor, 25%);
@navbarDividerLighter:              @sidewayHeaderColorHover;
@navbarLinkColorHover:              @sidewayHeaderColorHover;
@btnPrimaryBackground:              @sidewayHeaderColor;
@btnPrimaryBackgroundHighlight:     @sidewayHeaderColorHover;

@hrBorder:                          @tableBackgroundAccent;

@formActionsBackground:             @wellBackground;
@navbarBackground:                  @wellBackground;
@paginationActiveBackground:        @wellBackground;
@tableBackgroundAccent:             darken(@wellBackground, 5%);
@tableBackgroundHover:              darken(@wellBackground, 10%);
@tableBorder:                       @wellBorder;


/* Modified Moodle CSS by Mary Evans based on
   CSS-Tricks Example
   by Chris Coyier
   https://css-tricks.com/sideways-headers/
   ----------------------------------------*/

.jsenabled .block {
    border-color: @sidewayHeaderColor;
}

.jsenabled .block.hidden,
.jsenabled .block.block_adminblock {
    background-color: @sidewayHeaderColor;
}

/* End sidewayheadercolor
-------------------------*/

body {
    color: @bodyColor;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13px;
    line-height: 1;
    &.pagelayout-mydashboard {
        &.content-only {
            background-image:  url([[pix:theme|bgbtm]]);
            background-position: 0 0;
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-color: #fff;
        }
        #region-main {
            min-height: 300px;
        }
    }
}
.moodle-actionmenu {
    &.show[data-enhanced] {
        .menu {
            a {
                padding: 2px 1em;
            }
        }
    }
}
#page-site-index {
    .navbar-form {
        input {
            &.loginform {
                margin-left: 5px;
            }
        }
    }
}
.navbar-inner {
    background: none;
    background-color: @sidewayHeaderColor;
    box-shadow: none;
    text-shadow: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1;
    font-size: 14px;
}
h1 {font-size: 150%;}
h2 {font-size: 140%;}
h3 {font-size: 130%;}
h4 {font-size: 120%;}
h5 {font-size: 110%;}
h6 {font-size: 100%;}

.coursebox {
    .content {
        .summary,
        .coursecat {
            width: 100%;
            float: left;
        }
        .teachers,
        .courseimage,
        .coursefile {
            width: 100%;
        }
    }
    > .info {
        > .coursename {
            width: auto;
            a {
                background-image: url([[pix:theme|course]]);
                background-position: left top;
                float: left;
            }
        }
    }
}

#page-course-index-category {
    .generalbox.info {
        margin: 1em 0;
        padding: 0 5px;
    }
}
.pagelayout-redirect {
    text-align: center;
    margin: 0 25%;
    background-color: #fff;
    .fa {
        margin: 2em 0 0;
        padding: 0;
    }
}
#page-admin-purgecaches {
    #notice {
        width: 100%;
        text-align: justify;
    }
}
#page-navbar {
    .breadcrumb-button {
        position: fixed;
        right: 25px;
        top: 75px;
    }
}

.dir-rtl {
    .coursebox {
        > .info {
            > .coursename {
                a {
                    background-position: right top;
                    float: right;
                }
            }
        }
    }
    #page-navbar {
        .breadcrumb-button {
            position: fixed;
            right: auto;
            left: 25px;
            top: 75px;
        }
    }
}

/* Font special case
-------------------------*/
.fa:before {
    margin-right: 3px;
}

/* User avatars
-------------------------*/
.usermenu {
    .avatars {
        position: relative;
        top: -2px;
        img {
            display: block;
            border-color: @sidewayHeaderColorHover;
            border-style: solid;
            border-width: 1px;
            border-radius: 50% 50% 6%;
        }
    }
    .avatar {
        display: block;
        border-color: @sidewayHeaderColorHover;
        border-style: solid;
        border-width: 1px;
        border-radius: 50% 50% 6%;
    }
}
/* Forum post
-------------------------*/
.forumpost {
    .picture {
        img.userpicture {
            border-radius: 50% 50% 6%;
            border-width: 1px;
            border-style: solid;
            border-color: @sidewayHeaderColor;
            margin-left: 3px;
            margin-right: 10px;
        }
    }
}
.dir-rtl {
    .usermenu {
        .avatars {
            img {
                border-radius: 50% 50% 50% 5%;
            }
        }
        .avatar {
            border-radius: 50% 50% 50% 5%;
        }
    }
    .forumpost {
        .picture {
            img.userpicture {
                border-radius: 50% 50% 50% 5%;
                margin-left: 10px;
                margin-right: 3px;
            }
        }
    }
}

// Navbar
.navbar {
    .nav > li > a,
    .brand {
        color: @navbarLinkColor;
        text-shadow: none;
        &:hover {
            color: @sidewayHeaderColorHover;
        }
    }
    .nav > li > a {
        &:hover,
        &:focus {
            background-color: @navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover/:focus from .active
            color: @navbarLinkColorHover;
            text-decoration: none;
        }
    }
    .nav {
        .divider {
            border-left-color: @navbarDividerDarker;
            border-right-color: @navbarDividerLighter;
        }
        li.dropdown {
            &.langmenu {
                li {
                    min-width: 160px;
                }
            }
        }
        li.dropdown > {
            .dropdown-toggle {
                .caret {
                    border-bottom-color: @navbarLinkColor;
                    border-top-color: @navbarLinkColor;
                }
            }
        }
    }
}
.usermenu {
    .login > a {
        color: @navbarLinkColor;
    }
    .login {
        color: @navbarLinkColor;
        a:hover,
        a:focus {
            color: @sidewayHeaderColorHover;
        }
    }
    .moodle-actionmenu {
        a.icon.menu-action {
            color: @navbarLinkColor;
            &:hover,
            &:focus {
                color: @sidewayHeaderColorHover;
            }
        }
        .toggle-display {
            background-color: @navbarLinkBackgroundHover;
            color: @navbarLinkColorHover;
            .userbutton {
                .usertext {
                    color: @navbarLinkColor;
                    &:hover,
                    &:focus {
                        color: @navbarLinkColorHover;
                    }
                }
            }
        }
        &.show[data-enhanced] {
            .menu {
                li:first-child {
                    background-color: @sidewayHeaderColor;
                    color:  @navbarLinkColor;
                    &:hover,
                    &:focus {
                        color: @sidewayHeaderColorHover;
                    }
                }
                a {
                    color: @sidewayHeaderColor;
                    &:hover,
                    &:focus {
                        color: @navbarLinkColor;
                    }
                }
            }
        }
    }
}
.jsenabled {
    .moodle-actionmenu[data-enhance] {
        .toggle-display {
            &.textmenu {
                .caret {
                    border-bottom-color: @navbarLinkColor;
                    border-top-color: @navbarLinkColor;
                }
            }
        }
    }
}

/* Navbar toggle background
-------------------------*/

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: @navbarLinkBackgroundHover;
    color: @navbarLinkColorHover;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: @navbarLinkColorHover;
    border-top-color: @navbarLinkColorHover;
}

.navbar .nav > li > .dropdown-menu::after {
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}

.dropdown-menu {
    width: auto;
    min-width: auto;
    divider {
        margin: 0 1px;
    }
}

.jsenabled {
    .usermenu {
        .moodle-actionmenu {
            &.show {
                background-color: @navbarLinkBackgroundHover;
                color: @navbarLinkColorHover;
                .menu a:hover {
                    background: none;
                    background-color: @sidewayHeaderColor;
                }
            }
        }
    }
}
#dockeditempanel .dockeditempanel_content {
    border: 1px solid @sidewayHeaderColor;
    width: auto;
}

/* Default Three Columns - All
------------------------------*/
.has-region-side-pre {
    &.empty-region-side-pre {
        &.has-region-side-post {
            &.empty-region-side-post,
            .content-only {
                #region-main-box,
                #region-main {
                    width: 100%;
                }
            }
        }
    }
}
.empty-region-side-pre {
    &.used-region-side-post {
        #region-main-box,
        #region-main {
            width: 100%;
        }
    }
}
.empty-region-side-post {
    &.used-region-side-pre {
        #region-main-box,
        #region-main {
            width: 100%;
        }
    }
}
.jsenabled {
    &.docked-region-side-pre {
        &.empty-region-side-pre {
            &.used-region-side-post {
                #region-main {
                    width: 100%;
                }
            }
        }
    }
    &.docked-region-side-post {
        &.empty-region-side-post {
            &.used-region-side-pre {
                #region-main-box {
                    width: 100%;
                }
            }
        }
    }
}
/** Page layout CSS ends **/


