/**
 * Import all the rules from the parent.
 */
 @import "../../bootstrapbase/less/moodle.less";

// Set body text and sideway header colours
@bodyColor:                         #036;
@sidewayHeaderColor:                #369; // Alternative #6F6B8E

@navbarLinkColor:                   @white;

@sidewayHeaderColorHover:           lighten(@sidewayHeaderColor, 25%);
@navbarDividerDarker:               darken(@sidewayHeaderColor, 25%);
@navbarDividerLighter:              @sidewayHeaderColorHover;
@navbarLinkColorHover:              @sidewayHeaderColorHover;
@btnPrimaryBackground:              @sidewayHeaderColor;
@btnPrimaryBackgroundHighlight:     @sidewayHeaderColorHover;

@hrBorder:                          @tableBackgroundAccent;

@formActionsBackground:             @wellBackground;
@navbarBackground:                  @wellBackground;
@paginationActiveBackground:        @wellBackground;
@tableBackgroundAccent:             darken(@wellBackground, 5%);
@tableBackgroundHover:              darken(@wellBackground, 10%);
@tableBorder:                       @wellBorder;

@dropdownLinkColor:                 @sidewayHeaderColor;
@dropdownLinkColorHover:            @navbarLinkColor;
@dropdownLinkBackgroundHover:       @sidewayHeaderColor;

@navbarBorder:                      @navbarDividerDarker;
@navbarBackgroundHighlight:         @navbarDividerLighter;


/* Modified Moodle CSS by Mary Evans based on
   CSS-Tricks Example
   by Chris Coyier
   https://css-tricks.com/sideways-headers/
   ----------------------------------------*/

.jsenabled .block {
    border-color: @sidewayHeaderColor;
}

.jsenabled .block.hidden,
.jsenabled .block.block_adminblock {
    background-color: @sidewayHeaderColor;
}

/* End sidewayheadercolor
-------------------------*/
body.notloggedin,
body.pagelayout-frontpage {
    padding-top: 40px;
}
body {
    color: @bodyColor;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13px;
    line-height: 1;
    &.pagelayout-mydashboard {
        &.content-only {
            background-image:  url([[pix:theme|bgbtm]]);
            background-position: 0 0;
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-color: #fff;
        }
        #region-main {
            min-height: 300px;
        }
    }
}
.moodle-actionmenu {
    &.show[data-enhanced] {
        .menu {
            a {
                padding: 2px 1em;
            }
        }
    }
}
#page-site-index {
    .navbar-form {
        input {
            &.loginform {
                margin-left: 5px;
            }
        }
    }
}
.navbar-inner {
    background: none;
    background-color: @sidewayHeaderColor;
    box-shadow: none;
    text-shadow: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1;
    font-size: 14px;
}
h1 {font-size: 150%;}
h2 {font-size: 140%;}
h3 {font-size: 130%;}
h4 {font-size: 120%;}
h5 {font-size: 110%;}
h6 {font-size: 100%;}

.coursebox {
    .content {
        .summary,
        .coursecat {
            width: 100%;
            float: left;
        }
        .teachers,
        .courseimage,
        .coursefile {
            width: 100%;
        }
    }
    > .info {
        > .coursename {
            width: auto;
            a {
                background-image: url([[pix:theme|course]]);
                background-position: left top;
                float: left;
            }
        }
    }
}

#page-course-index-category {
    .generalbox.info {
        margin: 1em 0;
        padding: 0 5px;
    }
}
.pagelayout-redirect {
    text-align: center;
    margin: 0 25%;
    background-color: #fff;
    .fa {
        margin: 2em 0 0;
        padding: 0;
    }
}
#page-admin-purgecaches {
    #notice {
        width: 100%;
        text-align: justify;
    }
}
#page-navbar {
    .breadcrumb-button {
        position: fixed;
        right: 25px;
        top: 75px;
    }
}

.dir-rtl {
    .coursebox {
        > .info {
            > .coursename {
                a {
                    background-position: right top;
                    float: right;
                }
            }
        }
    }
    #page-navbar {
        .breadcrumb-button {
            position: fixed;
            right: auto;
            left: 25px;
            top: 75px;
        }
    }
}

/* Font special case
-------------------------*/
.fa:before {
    margin-right: 3px;
}
.usermenu i.fa {
    width: 25px;
    margin: 0;
}

/* User avatars
-------------------------*/
.usermenu {
    .avatars {
        position: relative;
        top: -2px;
        img {
            display: block;
            border-color: @sidewayHeaderColorHover;
            border-style: solid;
            border-width: 1px;
            border-radius: 50% 50% 6%;
        }
    }
    .avatar {
        display: block;
        border-color: @sidewayHeaderColorHover;
        border-style: solid;
        border-width: 1px;
        border-radius: 50% 50% 6%;
    }
    li a {
        font-size: 16px;
    }
    .moodle-actionmenu {
        .toggle-display {
            color: @sidewayHeaderColor;
        }
    }
    &.show[data-enhanced] {
        .menu {
            a {
                padding: 2px 1em;
            }
        }
    }
    .menu {
        a {
            outline: 0 none;
        }
    }
}

/* Forum post
-------------------------*/
.forumpost {
    .picture {
        img.userpicture {
            border-radius: 50% 50% 6%;
            border-width: 1px;
            border-style: solid;
            border-color: @sidewayHeaderColor;
            margin-left: 3px;
            margin-right: 10px;
        }
    }
}
.dir-rtl {
    .usermenu {
        .avatars {
            img {
                border-radius: 50% 50% 50% 5%;
            }
        }
        .avatar {
            border-radius: 50% 50% 50% 5%;
        }
    }
    .forumpost {
        .picture {
            img.userpicture {
                border-radius: 50% 50% 50% 5%;
                margin-left: 10px;
                margin-right: 3px;
            }
        }
    }
}

// Navbar
.navbar {
    .nav > li > a,
    a.brand {
        color: @navbarLinkColor;
        text-shadow: none;
        &:hover {
            color: @sidewayHeaderColorHover;
        }
    }
    .nav > li > a {
        &:hover,
        &:focus {
            background-color: @navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover/:focus from .active
            color: @navbarLinkColorHover;
            text-decoration: none;
        }
    }
    .nav {
        .divider {
            border-left-color: @navbarDividerDarker;
            border-right-color: @navbarDividerLighter;
        }
        li.dropdown {
            &.langmenu {
                li {
                    min-width: 160px;
                }
            }
        }
        li.dropdown > {
            .dropdown-toggle {
                .caret {
                    border-bottom-color: @navbarLinkColor;
                    border-top-color: @navbarLinkColor;
                }
            }
        }
    }
}
.usermenu {
    .login > a {
        color: @navbarLinkColor;
    }
    .login {
        color: @navbarLinkColor;
        a:hover,
        a:focus {
            color: @sidewayHeaderColorHover;
        }
    }
    .moodle-actionmenu {
        a.icon.menu-action {
            color: @navbarLinkColor;
            &:hover,
            &:focus {
                color: @sidewayHeaderColorHover;
            }
        }
        .toggle-display {
            background-color: @navbarLinkBackgroundHover;
            color: @navbarLinkColorHover;
            .userbutton {
                .usertext {
                    color: @navbarLinkColor;
                    &:hover,
                    &:focus {
                        color: @navbarLinkColorHover;
                    }
                }
            }
        }
        &.show[data-enhanced] {
            .menu {
                li:first-child {
                    background-color: @sidewayHeaderColor;
                    color:  @navbarLinkColor;
                    &:hover,
                    &:focus {
                        color: @sidewayHeaderColorHover;
                    }
                }
                a {
                    color: @sidewayHeaderColor;
                    &:hover,
                    &:focus {
                        color: @navbarLinkColor;
                    }
                }
            }
        }
    }
}
.jsenabled {
    .moodle-actionmenu[data-enhance] {
        .toggle-display {
            &.textmenu {
                .caret {
                    border-bottom-color: @navbarLinkColor;
                    border-top-color: @navbarLinkColor;
                }
            }
        }
    }
}

/* Navbar toggle background
-------------------------*/

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: @navbarLinkBackgroundHover;
    color: @navbarLinkColorHover;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: @navbarLinkColorHover;
    border-top-color: @navbarLinkColorHover;
}
.jsenabled {
    .usermenu {
        .moodle-actionmenu {
            &.show {
                background-color: @navbarLinkBackgroundHover;
                color: @navbarLinkColorHover;
                .menu a:hover {
                    background: none;
                    background-color: @sidewayHeaderColor;
                }
            }
        }
    }
}
#dockeditempanel .dockeditempanel_content {
    border: 1px solid @sidewayHeaderColor;
    width: auto;
}

@media and (max-width: 979px) {
    .navbar {
        .nav-collapse.in {
            border-top-width: 0;
            &.pull-left,
            &.pull-right {
                float: none;
            }
            > .nav {
                margin: 0;

                // Add padding to first-level links.
                > li > a {
                    padding-left: 20px;
                    border-radius: 0;
                }
                .dropdown-menu {
                    margin: 0 0 0 15px;
                    li > a {
                        border-radius: 0;
                    }
                }
            }

            .nav,
            .nav .dropdown-menu {
                .dropdown-submenu {
                    .dropdown-toggle {
                        &:after {
                            display: inline-block;
                            float: none;
                            .caret();
                            border-top-color: @navbarBorder;
                            margin-left: 4px;
                            margin-top: 8px;
                        }
                    }

                    &.open {
                        > a {
                            background-color: @navbarBackground;
                        }
                    }

                    // Suppress showing of submenu menu content on hover.
                    &:hover {
                        .dropdown-menu {
                            display: none;
                        }
                        &.open {
                            > a {
                                background-color: @navbarBackground;
                            }
                            > .dropdown-menu,
                            .open > .dropdown-menu {
                                display: block;
                            }
                        }
                    }
                }
                .divider {
                    width: auto;
                    display: block;
                    height: 0;
                    margin: 4px 1px;
                    border-left: 0 none;
                    border-right: 0 none;
                    border-top: 1px solid @navbarBorder;
                    border-bottom: 1px solid @navbarBackgroundHighlight;
                }
            }
        }
    }
}


/* Default Three Columns - All
------------------------------*/
.has-region-side-pre {
    &.empty-region-side-pre {
        &.has-region-side-post {
            &.empty-region-side-post,
            .content-only {
                #region-main-box,
                #region-main {
                    width: 100%;
                }
            }
        }
    }
}
.empty-region-side-pre {
    &.used-region-side-post {
        #region-main-box,
        #region-main {
            width: 100%;
        }
    }
}
.empty-region-side-post {
    &.used-region-side-pre {
        #region-main-box,
        #region-main {
            width: 100%;
        }
    }
}
.jsenabled {
    &.docked-region-side-pre {
        &.empty-region-side-pre {
            &.used-region-side-post {
                #region-main {
                    width: 100%;
                }
            }
        }
    }
    &.docked-region-side-post {
        &.empty-region-side-post {
            &.used-region-side-pre {
                #region-main-box {
                    width: 100%;
                }
            }
        }
    }
}
/** Page layout CSS ends **/

/* Experimental
-------------------------*/

#page-site-index {
    #region-main {
        .sitetopic {
            img.iconsmall {
                background-image: linear-gradient(to bottom, @sidewayHeaderColor, @sidewayHeaderColorHover);
                background-repeat: repeat-x;
                border: 2px solid @sidewayHeaderColor;
                color: #fff;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
                width: 20px;
                height: 20px;
                border-radius: 5px;
                margin: 0 10px;
            }
        }
    }
}

/* Langmenu - @font icons
-------------------------*/
.navbar {
    .nav > {
        li.langmenu {
            &.open > {
                .dropdown-menu {
                    display: block;
                    max-height: 400px;
                    overflow-y: visible;
                }
                &:before,
                &:after {
                    overflow: visible;
                }
            }
        }
    }
}
/* Frontpage Folly
-------------------------*/
#page-site-index .sitetopic,
#site-news-forum,
#frontpage-category-names,
#frontpage-category-combo,
#frontpage-course-list {
    position: relative;
    border-color: @sidewayHeaderColor;
    border-style: solid;
    border-width: 1px 1px 1px 34px;
    h2 {
        font: bold 12px Sans-Serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: @navbarLinkColor;
        line-height: 24px;
        /* Abs positioning makes it not take up vert space */
        position: absolute;
        top: 0;
        left: 0;

        /* Border is the new background */
        background: none;

        /* Rotate from top left corner (not default) */

        -webkit-transform-origin: 0 0;
           -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
             -o-transform-origin: 0 0;
                transform-origin: 0 0;

        -webkit-transform: rotate(90deg);
           -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
             -o-transform: rotate(90deg);
                transform: rotate(90deg);
    }
}
#frontpage-category-combo {
    min-height: 100px;
}
#frontpage-category-names {
    min-height: 180px;
}
#frontpage-course-list {
    min-height: 300px;
}
#page-site-index .sitetopic {
    min-height: 200px;
    margin-bottom: 15px;
    padding-top: 10px;
}

#frontpage-category-combo .course_category_tree .category > .content {
    padding-left: 0;
}