/* Custom CSS
-------------------------*/
div.logo {
    background-image: url([[setting:logo]]);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    float: none;
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
    height: 200px;
}
a.brand {
    background-image: url([[setting:brandicon]]);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
}
/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
