/* Custom CSS
-------------------------*/
.pagelayout-frontpage.has-banner-image #banner {
    background-image: url([[setting:banner]]);
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    float: none;
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
    height: 200px;
}
.pagelayout-frontpage.has-banner-image #banner .texturizer {
    background-image: url([[pix:theme|texturizer]]);
    background-position: left top;
    background-repeat: repeat;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#logo {
    background-image: url([[setting:logo]]);
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 75px;
    margin: 0 0 20px;
    padding: 0;
}
dir-rtl #logo {
    background-position: 100% 0;
    display: block;
    float: right;
}
a.brand {
    background-image: url([[setting:brandicon]]);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    font-size: 22px;
    padding: 10px 20px;
}
