.dir-rtl .navbar .nav {
    left: auto;
    margin: 0 0 0 10px;
    right: 0;
}

.dir-rtl .block .content .userpicture {
    margin-left: 6px;
    margin-right: 0;
}

.dir-rtl .fa {
    margin-left: 0.3em;
    margin-right: 0;
}

/* Class name via Modernizr */
.dir-rtl.jsenabled .block,
#page-grade-report-overview-index.dir-rtl.jsenabled #region-main .no-overflow,
#page-login-index.dir-rtl.jsenabled .loginpanel,
#page-login-index.dir-rtl.jsenabled .signuppanel,
#page-user-profile.dir-rtl.jsenabled .page-context-header,
#page-user-profile.dir-rtl.jsenabled section.node_category {
    border-width: 1px 34px 1px 1px;
}
.dir-rtl.jsenabled .block .header h2,
#page-grade-report-overview-index.dir-rtl.jsenabled #region-main .no-overflow h3,
#page-login-index.dir-rtl.jsenabled .signuppanel h2,
#page-login-index.dir-rtl.jsenabled .loginpanel h2,
#page-user-profile.dir-rtl.jsenabled .page-context-header h2,
#page-user-profile.dir-rtl.jsenabled section.node_category h3 {
    left: auto;

    /* Abs positioning makes it not take up vert space */
    position: absolute;
    right: 0;
    top: 0;

    /* Rotate from top right corner (not default) */
    transform-origin: 100% 0;
    transform: rotate(-90deg);
}

.dir-rtl.jsenabled .block.hidden,
.dir-rtl.jsenabled .block.block_adminblock {
    border-right: 0 none;
    padding-right: 0;
}

.dir-rtl.jsenabled .block.block_adminblock .header h2,
.dir-rtl.jsenabled .block.hidden .header h2 {
    left: auto;
    /* Abs positioning makes it not take up vert space */
    position: absolute;
    right: 0;
    top: 0;
    /* Rotate from top right corner (not default) */
    transform-origin: 100% 0;
    transform: rotate(0);
}

.dir-rtl.jsenabled .block_adminblock .content .singleselect {
    margin-left: 0;
    margin-right: 1px;
}

.dir-rtl.jsenabled .block_adminblock .content .singleselect {
    margin-left: 1px;
    margin-right: 0;
}
.dir-rtl.jsenabled .block_adminblock .content .singleselect {
    margin-left: 0;
    margin-right: 1px;
}
